body {
  margin: 0;
}

.app {
  display: grid;
  height: 100vh;
  gap: 8px;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'tree editor sidebar'
    'tree output sidebar';
  overflow: hidden;
}

.nodeTreeView {
  grid-area: tree;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
  overflow: auto;
  padding: 16px;
  border-left: 1px solid #eee;
}

.editor {
  grid-area: editor;
}

.output {
  grid-area: output;
  overflow: auto;
}

.exampleButtons {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.messageBar {
  margin-bottom: 4px;
  background-color: #cef;
  padding: 6px 10px;
}

.messageBar.isError {
  background-color: #f99;
}

/* -------------------------- */

.cm-editor {
  outline: 1px solid #999;
}

.cm-highlightPart {
  background-color: #f906;
}
