.np-node {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 4px;
  min-width: 200px;
  width: fit-content;
}

.np-node.isHovering {
  border-color: #999;
}

.np-node.isFake {
  opacity: 0.6;
}

.np-title {
  font-size: 14px;
}

.np-type {
  font-size: 12px;
  border-radius: 2px;
  background-color: #999;
  color: #fff;
  margin-right: 4px;
  padding: 2px 4px;
  display: inline-block;
  vertical-align: middle;
}

.np-property-key {
  background-color: #eee;
}

.np-loc-range {
  font-size: 12px;
  zoom: 0.8;
  opacity: 0.5;
  color: #36f;
  margin-left: 12px;
  border: 1px solid;
  padding: 1px 4px;
}
